* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(
    -45deg,
    #0f2027,
    #203a43,
    #2c5364,
    #6a11cb,
    #2575fc
  );
  background-size: 400% 400%;
  animation: gradientBG 12s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Background animation */
@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Glass effect card */
.box {
  width: 600px;
  padding: 25px;
  text-align: center;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
  color: white;
}

/* Inputs */
input {
  width: 90%; 
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* Button */
button {
  width: 95%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #00c6ff;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #a60196;
  transform: scale(1.05);
}

a {
  color: #ffdd57;
  text-decoration: none;
}
